#mySidebar.sidebar
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:href => "/"} Home
  %a{:href => "/products"} Products
  %a{:href => "/contact"} Contact
  %a{:href => "/fourm"} Fourm
  %a{:href => "/userposts"} MyPosts
  %a{:href => "/about"} About


  %img{:src => "/pika.png", :width => 150}
#main
  %button.openbtn{:onclick => "openNav()"} ☰ Explore
