#mySidebar.sidebar
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:href => "/"} Home
  %a{:href => "#"} Products
  %a{:href => "/contact"} Contact
  %a{:href => "#"} About

  %img{:src => "/pokeball.png", :width => 150}
#main
  %button.openbtn{:onclick => "openNav()"} ☰ Explore
