%title= t('app_title')
%h3=t('.welcome')
%h3=t('.welcome2')
= javascript_include_tag 'home'
.alert
  %span.closebtn{:onclick => "this.parentElement.style.display='none';"} ×
  %strong WARNING!
  due to COVID-19 site moderation will be lower than usual. We hope you stick with us during these difficult times.




%div#incoming_content
  %body
    %h2= t('.game_title')
    %p= t('.game_description')

    .form
      %label{:for => "guessField"}
        =t('.box_text') + ":"
      %input#guessField.guessField{:type => "text"}/
      %input#submitguess.guessSubmit{:type => "submit", :value => "Submit guess"}/
      <button onClick="window.location.reload();">Play again</button>
