= javascript_include_tag 'home'
.alert
  %span.closebtn{:onclick => "this.parentElement.style.display='none';"} ×
  %strong WARNING!
  due to COVID-19 site moderation will be lower than usual. We hope you stick with us during these difficult times.
%h3=t('.welcome')
