%h2 About
%p PokeBen was founded in November 2020 by a Computer Science
%p Student named Ben Hodges. It was developed for his web application
%p coursework but has since vent viral, allowing fellow lovers of the game
%p to have a reliable platform to both chat and track desired Pokemon products.
